body {
  width: 100%;
  background-color: #f8f7f7;
  overflow-x: hidden;
  font-family: PRASans,sans-serif;
  line-height: 1.6;
  color: #232323;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-white {
  background-color: white;
  border-bottom: 0.025em solid #b3b3b3;
}

.navbar-white:before, .navbar-white:after {
  border: 0 solid #b3b3b3;
}

.navbar-dark {
  background-color: #201425;
  color: #b3b3b3;
  font-size: .75rem;
}

.navbar-pink {
  background-color: #e81b74;
  border-top: 0.025em solid #b3b3b3;
}

.navbar-text-white {
  color: white;
}

.color-pra-pink {
  color: #e81b74;
}

.opt-in--link {
  color: #e81b74;
}

.opt-in--link:hover {
  color: cornflowerblue;
}

.logo-pra {
  width: 200px;
}

.btn-link {
  color: #e81b74;
}

.asterisk {
  color: #e81b74;
  font-style: italic;
  font-size: 12px;
}

.w100 {
  width: 100%;
  overflow: hidden;
}

.btn-restart {
  position: absolute;
  right: 12px;
}

.btn {
  border-radius: 2px;
}

#profile_info .col {
  padding-top: 4px;
  padding-bottom: 4px;
}

#landing_form {
  position: relative;
}

.grecaptcha-badge {
  top: 200px !important;
}

.img-offer-wrapper {
  overflow: hidden;
  margin-bottom: 12px;
}

#invite_link, #link_to_product {
  background-color: rgba(0, 0, 255, 0.15);
  padding: 6px;
  border-radius: 6px;
  color: blue;
  cursor: pointer;
}

#invite_link:hover, #link_to_product:hover {
  background-color: rgba(0, 0, 255, 0.65);
  color: white;
}

#invite_link:active, #link_to_product:active {
  background-color: orange;
  color: white;
}

#action_btn {
  position: absolute;
  bottom: 246px;
  left: 48px;
}

#action_title {
  position: absolute;
  top: 48px;
  left: 48px;
  font-weight: bold;
  color: #e81b74;
  width: 50%;
}

.page-header {
  margin-top: 40px !important;
}

.fl {
  float: left;
}

.fr {
  float: right;
}